.header {
    background-color: #2098d1;
    color: #fff;
    height: 75vh;
    width: 100%;
}

.header__information {
    margin: 0 auto;
    margin-top: 45px;
    max-width: 1200px;
    padding: 0 10px;
}

.header__information h1 {
    font-size: 56px;
    font-weight: 200;
}

.header__information h2 {
    margin-top: 25px;
    font-size: 26px;
    font-weight: 300;
}

.header__portfolio__button {
    background-color: rgba(109, 175, 207, 1);
    border: none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    letter-spacing: 0;
    line-height: 1.5;
    margin-top: 40px;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    width: 225px;
}

.header__contact__button {
    background-color: rgba(221, 107, 13, 1);
    border: none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    letter-spacing: 0;
    line-height: 1.5;
    margin-top: 10px;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    width: 225px;
}

.header__portfolio__button:hover {
    background-color: rgba(89, 155, 187, 1);
}

.header__contact__button:hover {
    background-color: rgba(106, 158, 202, 1);
}

@media only screen and (max-device-width: 340px) {
    .header {
        height: 100vh;
    }
}